*{
    margin: 0;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
}
.container > div{
    height: calc(100vh/16);
    width: calc(100vw/16);
    background-color: gray;
}